<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create branch</title>
</head>
<body>
<h1>add branch</h1>
<form action="#" th:action="@{/branch/create}" th:object="${branchModel}" method="post">
    <p>projectId: <input type="text" th:field="*{projectId}" /></p>
    <p>name: <input type="text" th:field="*{name}" /></p>
    <p>tag: <input type="text" th:field="*{tag}" /></p>
    <p>message: <input type="text" th:field="*{message}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>